<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="user;then displayLogout else displayLogin "></div>
       
<ng-template #displayLogin>
  <div class="displayBlock" id="displayLogin">
      <div id="textSpan">
          <span>Sign in with</span>
      </div>
     
      <div>
        <div>
            <input style="margin: 0 1em 0 1em;" class="logo" type="image" src="assets/google-plus.png" (click)="signInWithGoogle()" /> 
        </div>

        <div>
            <span style="font-size: 2em; margin: 0 1em 0 1em;"> or </span>
        </div>

        <div>
            <input style="margin: 0 1em 0 1em;" class="logo" type="image" src="assets/facebook.png" (click)="signInWithFacebook()" />
        </div>
        
        
        
      </div>
  </div>  
</ng-template>


<ng-template #displayLogout>
  <div class="displayBlock" id="displayLogout">
    <div>
      <img class="inputImage" src="{{ user?.photoUrl }}">

      <div>
        <h3>{{ user?.name }}</h3>
        <h4>{{ user?.email }}</h4>
      </div>
    </div>
  
    <div style="text-align:center">
      <button type="button" id="logout" (click)="signOut()">Sign out</button>
    </div>

  </div>
</ng-template> 